.social-bar{
  background-color: green;
  .socials{
    a{
      color: blue;
    }
  }
}

.partners-carousel {
  .partner {
    width: 302px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    .partner-img {
      width: 102px;
    }
  }
}