.social-bar{
  background-color: green;
  .socials{
    a{
      color: blue;
    }
  }
}
.carousel{
  background-color: lightblue;
  height: 130px;
}
.carousel-item{
  img{
    max-width: 102px;
    margin-right: 200px;
  }
}
