<section class="expoSlider">
    <div class="container-fluid">
        <div class="row">
            <div class="expoSlider-content col">
                <div class="w-i-expo-slider">
                    <div class="w-i-expo-carousel owl-carousel owl-theme">
                        <div class="prev">Prev</div>
                        <div class="expo">1
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">2
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">3
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">4
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">5
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">6
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="expo">7
                            <img class="expo-img" src="/images/prjct-img.png"/>
                        </div>
                        <div class="next">Next</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>