<header class="header container-fluid">
    <div class = "row">
        <div class = "col-md-6 col-sm-6">
            <figure class="logo-img">
                <img src="#" alt="logo-img">
            </figure>
        </div>
        <div class = "col-md-6 col-sm-6">
            <nav class="nav justify-content-end">
                <a href="#" class="link">HOME</a>
                <a href="#" class="link">PRODUCTS</a>
                <a href="#" class="link">COMPANY</a>
                <a href="#" class="link">BLOG</a>
            </nav>
        </div>
    </div>
</header>

<!--<div class = "container-fluid">-->
<!--    <div class = "row">-->
<!--        <div class = "col-md-3 col-sm-6">Первый</div>-->
<!--        <div class = "col-md-1 col-sm-6">Первый</div>-->
<!--    </div>-->
<!--</div>-->