<div class="projects">
    <div class="container-fluid">
        <h2>Проекты</h2>
        <div class="project-info row">
            <div class="col">
                <figure class="prjct-img">
                    <img src="/images/prjct-img.png" alt="project-img">
                </figure>
            </div>
            <div class="col prjct-desc">
                <h4>Smart Oasis</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.
                </p>
                <a href="#" class="invest-btn btn">
                    Инвестировать в проект
                </a>
            </div>
        </div>
        <div class="project-info row">
            <div class="col">
                <figure class="prjct-img">
                    <img src="/images/prjct-img.png" alt="project-img">
                </figure>
            </div>
            <div class="col prjct-desc">
                <h4>Smart Oasis</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.
                </p>
                <a href="#" class="invest-btn btn">
                    Инвестировать в проект
                </a>
            </div>
        </div>
    </div>
</div>